<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Datos de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lsm</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">n0m3l0</property>

        <!-- Dialecto y opciones -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>

        <!-- Pool de conexión y contexto -->
        <property name="connection.pool.size">1</property>
        <property name="current_session_context_class">thread</property>

        <!-- Clases mapeadas -->
        <mapping class="org.SenApp.model.Usuario"/>
        <mapping class="org.SenApp.model.ProgresoUsuario"/>
    </session-factory>
</hibernate-configuration>
